<div class="modal-header">
    <h3 class="modal-title">Add a New Project</h3>
</div>
<div class="modal-body">
    <form class="form" name="form" ng-submit="createProject(form)" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-success': form.projectName.$valid && submitted,
                                                    'has-error': form.projectName.$invalid && submitted }">
                    <input type="text" ng-model="project.name" class="form-control" name="projectName"
                           placeholder="Project Name" required />
                    <span class="help-block" ng-show="form.projectName.$error.required && submitted">
                        project name is required
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-success': form.porjectNumber.$valid && submitted,
                                                    'has-error': form.porjectNumber.$invalid && submitted }">
                    <input type="text" ng-model="project.number" class="form-control" name="porjectNumber"
                           placeholder="Project #" required />
                    <span class="help-block" ng-show="form.porjectNumber.$error.required && submitted">
                        project number is required
                    </span>
                </div>
            </div>

        </div>
        <div class="form-group" ng-class="{ 'has-success': form.projectAddress.$valid && submitted,
                                            'has-error': form.projectAddress.$invalid && submitted }">
            <input type="text" ng-model="project.address" class="form-control" name="projectAddress" placeholder="Address"
                   required />
            <span class="help-block" ng-show="form.projectAddress.required && submitted">
                project address is required
            </span>
        </div>
        <div class="form-group" ng-class="{ 'has-success': form.projectCity.$valid && submitted,
                                            'has-error': form.projectCity.$invalid && submitted }">
            <input type="text" ng-model="project.city" class="form-control" name="projectCity" placeholder="City" required />
            <span class="help-block" ng-show="form.projectCity.$error.required && submitted">
                project city is required
            </span>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-success': form.projectZipcode.$valid && submitted,
                                                    'has-error': form.projectZipcode.$invalid && submitted }">
                    <input type="text" ng-model="project.zipcode" class="form-control" name="projectZipcode"
                           placeholder="Zip" required />
                    <span class="help-block" ng-show="form.projectZipcode.$error.required && submitted">
                        project zipcode is required
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-success': form.uploadPhoto.$valid && submitted,
                                                    'has-error': form.uploadPhoto.$invalid && submitted }">
                    <input type="button" ng-model="project.uploadPhoto" class="form-control" id="uploadPhoto" name="uploadPhoto"
                           value="Upload Photo"
                           ng-click="selectImage()" />
                    <span class="help-block" ng-show="imageSrc && submitted">
                        Profile Picture is required
                    </span>
                    <i ng-hide="imageSrc || submitted">No image chosen</i>
                    <img style='width:200px' ng-src="{{ imageSrc }}" id='up' /><br />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Upload</button>
            <button class="btn btn-warning" ng-click="cancel()">Back</button>
        </div>
    </form>
</div>

