<div class="modal-header">
    <h3 class="modal-title">Sign Up</h3>
</div>
<div class="modal-body">
    <form class="form" name="form" ng-submit="signup(form)" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-success': form.user_first_name.$valid && submitted,
                                                    'has-error': form.user_first_name.$invalid && submitted }">
                    <input type="text" ng-model="user.user_first_name" class="form-control" name="user_first_name"
                           placeholder="First Name" required />
                    <span class="help-block" ng-show="form.user_first_name.$error.required && submitted">
                        first name is required
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-success': form.user_last_name.$valid && submitted,
                                                    'has-error': form.user_last_name.$invalid && submitted }">
                    <input type="text" ng-model="user.user_last_name" class="form-control" name="user_last_name"
                           placeholder="Last Name" required />
                    <span class="help-block" ng-show="form.user_last_name.$error.required && submitted">
                        last name is required
                    </span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-lg-6" ng-class="{ 'has-success': form.user_email.$valid && submitted,
                                                'has-error': form.user_email.$invalid && submitted }">
                <input type="email" ng-model="user.user_email" class="form-control" id="email"
                       name="user_email" placeholder="Email" required mongoose-error />
                <span class="help-block" ng-show="form.user_email.$error.required && submitted">
                    Email is required
                </span>
                <span class="help-block" ng-show="form.user_email.$error.email && submitted">
                    valid Email is required
                </span>
                <span class="help-block" ng-show="form.user_email.$error.mongoose">
                    {{ errors.user_email }}
                </span>
            </div>
            <div class="form-group col-lg-6" ng-class="{ 'has-success': form.user_role.$valid && submitted,'has-error': form.user_role.$invalid && submitted }" >
                <select ng-model="user.user_role" class="form-control" name="user_role" ng-options="item for item in roles" required>
                    <option value="">--choose a role--</option>
                </select>
                <span class="help-block" ng-show="form.user_role.$invalid && submitted">
                    user role is required
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                                    'has-error': form.password.$invalid && submitted }">
                    <input type="password" ng-model="user.password" class="form-control" id="password"
                           name="password" placeholder="Password" ng-minlength="3" required mongoose-error />

                    <p class="help-block" ng-show="form.password.$error.required && submitted">
                        Password is required
                    </p>

                    <p class="help-block" ng-show="form.password.$error.minlength && submitted">
                        Password must be at least 3 characters.
                    </p>

                    <p class="help-block" ng-show="form.password.$error.mongoose">
                        {{ errors.password }}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && submitted,
                                                    'has-error': form.confirmPassword.$invalid && submitted }">
                    <input type="password" ng-model="user.confirmPassword" class="form-control" id="confirmPassword"
                           name="confirmPassword" placeholder="Confirm Password" ng-minlength="3" required mongoose-error />

                    <p class="help-block" ng-show="form.confirmPassword.$error.required && submitted">
                        Confirm password is required
                    </p>

                    <p class="help-block"
                       ng-show="form.confirmPassword.$error.minlength && submitted">
                        Password must be at least 3 characters.
                    </p>

                    <p class="help-block" ng-show="form.password.$error.mongoose">
                        {{ errors.password }}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group" ng-class="{ 'has-success': form.phoneNumber.$valid && submitted,
                                                    'has-error': form.phoneNumber.$invalid && submitted }">
                    <input type="text" ng-model="user.user_phone" class="form-control" id="phoneNumber" name="phoneNumber"
                           placeholder="Phone" required />

                    <p class="help-block" ng-show="form.phoneNumber.$error.required && submitted">
                        Phone number is required
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group" ng-class="{ 'has-success': imageSrc && submitted,
                                                    'has-error': !imageSrc && submitted }">
                    <input type="button" class="form-control" id="uploadPhoto" name="uploadPhoto"
                           value="Upload Photo"
                           ng-click="pickImage()" />

                    <p class="help-block" ng-show="!imageSrc && submitted">
                        Profile Picture is required
                    </p>
                    <i ng-hide="imageSrc || submitted">No image chosen</i>
                    <!--<img style='width:200px' ng-src="{{ imageSrc }}" id='up' />-->
                </div>
            </div>
        </div>
      <!--   <div class="row">
            <div class="col-lg-7">
                <label>Please select predefined company here</label>
                <div class="form-group has-error">
                    <ui-select ng-model="company.selected" theme="selectize" ng-disabled="disabled"
                               style="width: 300px;">
                        <ui-select-match placeholder="Select or search a company in the list...">
                            {{ $select.selected.company_name }}
                        </ui-select-match>
                        <ui-select-choices repeat="company in $parent.companies | filter: $select.search">
                            <span ng-bind-html="company.company_name | highlight: $select.search"></span>
                            <small ng-bind-html="company.company_address | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                    <span>Didn't find your company?</span>
                    <button ng-click="createCompanyModal()" type="button" class="btn btn-link">Create New Company</button>
                </div>
            </div>
            <div class="col-lg-5">
                
            </div>
        </div> -->
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Sign Up</button>
            <button type="button" class="btn btn-warning" ng-click="cancel()">Back</button>
        </div>
    </form>
</div>

