<h3 class="">Invite Others</h3>
<br />
<div class="row">
<form class="form-inline" novalidate>
    <div class="form-group col-md-4" ng-class="{ 'has-success': form.email.$valid && submitted,
                                        'has-error': form.email.$invalid && submitted }">
        <input type="email" class="form-control"  ng-model="$parent.email" name="email"
               placeholder="Email" />
        <!-- <p class="help-block" ng-show="form.email.$error.required && submitted">
            email is required
        </p>  -->
        <p class="help-block" ng-show="form.email.$error.email && submitted">
            email is invalid
        </p>
    </div>
    <button class='btn btn-primary' ng-click="addEmail()">Add</button>
</form>
</div>
<div class='row' ng-repeat='email in emails track by $index'>
     <div class='col-md-4'>
         <span>{{email}}</span>
         <br />
         <br />
     </div>
     <div class='col-md-4'>
         <button class='btn btn-danger btn-xs' ng-click="emails.splice($index,1)">X</button>
         <br />
         <br />
     </div>
</div>
<div class='row'>
 <div class='col-md-4 col-md-offset-8'>
   <button  type="button" class='btn btn-info' ng-click="$parent.modalURL='/components/modal/modal_createcompany.html'">Back</button>
   <button class='btn btn-info' ng-click='createProject()'>Submit</button>
 </div>
</div>

