<div ng-hide="isCreatingSubmittal" class="cmtech-tab-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h4>
                    <button type="button" class="btn btn-primary btn-md" ng-click="createSubmittalView()">
                        Create New Submittal
                    </button>
                    <button type="button" class="btn btn-info btn-md" ng-click="">To Be Submittal Log</button>
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-default col-lg-2" ng-click="">Submittal Log</button>
        <div class="col-lg-10">
            Filter submittal view by
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Spec section</th>
                    <th>Revision</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Issued</th>
                    <th>Responded</th>
                    <th>Status</th>
                    <th>Assignee</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="col-lg-1">
                        <button type="button" class="btn btn-primary col-lg-12">
                            VIEW
                        </button>
                    </td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                </tr>
                <tr>
                    <td class="col-lg-1">
                        <button type="button" class="btn btn-primary col-lg-12">
                            VIEW
                        </button>
                    </td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                </tr>
                <tr>
                    <td class="col-lg-1">
                        <button type="button" class="btn btn-primary col-lg-12">
                            VIEW
                        </button>
                    </td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-default col-lg-2" ng-click="">My Imcomplete Items</button>
        <div class="col-lg-10">
            Filter submittal view by
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                <tr>
                    <td class="col-lg-1">
                        <button type="button" class="btn btn-primary col-lg-12">
                            VIEW
                        </button>
                    </td>
                    <th>Spec section</th>
                    <th>Revision</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Issued</th>
                    <th>Responded</th>
                    <th>Status</th>
                    <th>Assignee</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="col-lg-1">
                        <button type="button" class="btn btn-primary col-lg-12">
                            VIEW
                        </button>
                    </td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                </tr>
                <tr>
                    <td class="col-lg-1">
                        <button type="button" class="btn btn-primary col-lg-12">
                            VIEW
                        </button>
                    </td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                    <td>....</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-show="isCreatingSubmittal" class="cmtech-tab-content">
    <form name="form" ng-submit="createSubmittal(form)">
        <div class="row">
            <div class="col-lg-1">
                <!-- (TODO) margin-top: 800% doesn't work for TV screen -->
                <button style="margin-top: 800%" type="submit" class="btn btn-primary col-lg-12">
                    Save
                </button>
                <button type="button" class="btn btn-danger col-lg-12" ng-click="deleteCreateSubmittal()">
                    Delete
                </button>
                <br>
                <br>
                <button type="button" class="btn btn-info col-lg-12" ng-click="leaveCreateSubmittal()">
                    Back
                </button>
            </div>
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-header">
                            <b>ABC Contractors Inc.</b>

                            <p>32W 39th St. New York, NY, 10020</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <p>Contact Tom Collins</p>

                        <p>Phone: (646) 151-1234</p>
                    </div>
                    <div class="col-lg-offset-2 col-lg-6">
                        Project: City of New York, ABC Residental 32 Broadway, New York, NY, 10004
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-header">
                            <h4>
                                <b>Submittal 02100-04-01</b>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <b>General Information</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        Title
                    </div>
                    <div class="cmtech-input-line col-lg-4">
                        <input ng-model="createSubmittalForm.title" class="col-lg-12" type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        Spec Section
                    </div>
                    <div class="cmtech-input-line col-lg-4">
                        <input ng-model="createSubmittalForm.specSection" class="col-lg-12" type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        Number
                    </div>
                    <div class="cmtech-input-line col-lg-4">
                        <input ng-model="createSubmittalForm.number" class="col-lg-12" type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        Revision
                    </div>
                    <div class="cmtech-input-line col-lg-4">
                        <input ng-model="createSubmittalForm.revision" class="col-lg-12" type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        Type
                    </div>
                    <div class="cmtech-input-line col-lg-4">
                        <input ng-model="createSubmittalForm.type" class="col-lg-12" type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        Add more titles
                    </div>
                    <div class="cmtech-input-line col-lg-4">
                        <input ng-model="createSubmittalForm.addMoreTitle" class="col-lg-12" type="text" />
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <b>Assignees</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        Issued by Approver:
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <b>Description</b>
                    </div>
                </div>
                <div class="row">
                    <div class="cmtech-input-line col-lg-6">
                        <input type="text" class="col-lg-12" />
                    </div>
                </div>
                <div class="row">
                    <div class="cmtech-input-line col-lg-6">
                        <input type="text" class="col-lg-12" />
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <b>Attachments</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        abc.pdf
                    </div>
                    <div class="col-lg-3">
                        abc.pdf
                    </div>
                    <div class="col-lg-3">
                        abc.pdf
                    </div>
                    <div class="col-lg-3">
                        abc.pdf
                    </div>
                </div>
            </div>
    </form>
</div>
