<div ng-include="'components/navbar/navbar_project.html'"></div>
<div class="cmtech-container container">
    <div class="row">
        <div class="col-lg-12">
            <h4>
                <a ng-click="createMainModal()" class="btn btn-primary" href="#" role="button">Add a New Project</a>
            </h4>
        </div>
    </div>
    <div class="row" ng-repeat="row in user.link_projects | chunk:3">
        <div class="col-lg-4" ng-repeat="item in row">
            <a ng-click="goProject(item._id)" style="margin-bottom: 7px" class="thumbnail">
                <img style='width:100%; height:100%' ng-src="{{ item.project_image_url }}" />
            </a>
            <h4 style="color: darkgray" class="text-left">{{ item.project_name }}</h4>
        </div>
    </div>
</div>

