<div class="navbar navbar-default navbar-static-top" style="margin-bottom: 0">
    <div class="container">
        <div class="navbar-header">
            <!--<button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-x->
            <!--</button>-->
            <a href="/" class="navbar-brand"><img src="/assets/images/logo.png"
                                                  style="width:150px; margin-top: -10px;" /></a>
        </div>
        <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
            <!--<ul class="nav navbar-nav">-->
                <!--<li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">-->
                <!--<a ng-href="{{item.link}}">{{item.title}}</a>-->
                <!--</li>-->
                <!--<li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>-->
            <!--</ul>-->

            <ul class="navbar-brand" style="position: absolute; width: 100%; left: 0; text-align: center;
            margin: auto;">
                <li style="list-style: none;">Project List</li> <!-- 520 Park -->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><img class="glyphicon" src="/assets/images/help.ico" /></a></li>
                <li><a href="#"><img src="/assets/images/notification.ico" /></span></a></li>
                <!--<li><a href="#"><img src="/assets/images/profile-picture.ico" /></a></li>-->
                <li><a href="#"><img ng-src="{{ getCurrentUser().user_profile_url }}" /></a></li>
            </ul>
        </div>
    </div>
</div>
