<div ng-include="'/components/navbar/navbar_home.html'"></div>
<div class="jumbotron jumbotron-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-lg-offset-3">
                <a class="btn btn-default col-lg-12" ng-click="signupModal()" role="button">Sign Up</a>
            </div>
            <div class="cmtech-offset col-lg-3">
                <a class="btn btn-default col-lg-12" ng-click="loginModal()" role="button">Login</a>
            </div>
        </div>
    </div>
</div>