<div ng-include="'/components/navbar/navbar_home.html'"></div>

<!--<header class="" id="banner">-->
    <!--<div class="container">-->
        <!--<h1>CMTech</h1>-->
        <!--<p class="lead">Kick-start your next web app with Angular Fullstack</p>-->
        <!--<img src="assets/images/yeoman.png" alt="I'm Yeoman">-->
    <!--</div>-->
<!--</header>-->


<div class="jumbotron jumbotron-background">
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-md-offset-5">
                <a class="btn btn-default btn-lg" ng-click="signupModal()" role="button">Sign Up</a>
            </div>
            <div class="col-md-offset-1 col-md-1">
                <a class="btn btn-default btn-lg btn-block" ng-click="loginModal()" role="button">Login</a>
            </div>
        </div>
    </div>
</div>


<footer class="footer">
    <div class="container">
        <p>CMTech</p>
    </div>
</footer>
