.jumbotron-background {
    background: url('/assets/images/jumbotron-background.jpg') no-repeat;
    background-size: 100% 100%;
    height: 350px;
    margin-top: -51px;
}

.jumbotron-background .row {
    margin-top: 60px;
}

.cmtech-offset {
    margin-left: 0.3%
}

/* slide show */
.carousel-indicators li {
    background-color: #000000;
    border-color: #000000;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

/* ================================== Default CSS ====================================== */
.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

