<div ng-include="'components/navbar/navbar_home.html'"></div>
<div class="container-fluid">
<div class="row">
    <div style="height: 375px" class="jumbotron jumbotron-background">
        <div class="container">
            <div style="margin-top: 95px" class="row">
                <div class="col-lg-offset-3 col-lg-6">
                    <p style="color:white; text-align:center; font-size: 178% !important; font-weight: bold;">
                        Automate All Construction Management Tasks on a Single Platform
                    </p>
                </div>
            </div>
            <div style="margin-top:0px" class="row">
                <div class="col-lg-offset-5 col-lg-2">
                    <a style="font-weight:bold; font-size:15px !important" class="btn btn-default col-lg-12"
                       ng-click="signupModal()" role="button">Sign Up For Free!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <p style="text-align:center; font-weight:bold; font-size:175% !important; margin-bottom: -6px;">
            Not everyone needs the same info. Access what matters to YOU.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-offset-4 col-lg-8">
        <!--<span style="font-family: 'Eras Bold ITC', sans-serif; font-size: 230% !important;">CM</span>
        <span style="font-family:-->
        <!--'Eras Light ITC', sans-serif; font-size: 230% !important;">Tech</span>-->
        <span style="font-weight:bold; font-size:175% !important;">CMTech is Customized for:</span>
    </div>
</div>
<br />

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="col-lg-3">
            <img style="width:100%" src="/assets/images/owner.png" />

            <p style="text-align:center; font-size:18px !important; margin-top: 9px;">Owner</p>
        </div>
        <div class="col-lg-3">
            <img style="width:100%" src="/assets/images/cm.png" />

            <p style="text-align:center; font-size:18px !important; margin-top: 9px;">Construction Manager</p>
        </div>
        <div class="col-lg-3">
            <img style="width:100%" src="/assets/images/engineer.png" />

            <p style="text-align:center; font-size:18px !important; margin-top: 9px;">Engineer</p>
        </div>
        <div class="col-lg-3">
            <img style="width:100%" src="/assets/images/contractor.png" />

            <p style="text-align:center; font-size:18px !important; margin-top: 9px;">Contractor</p>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>
<div style="height: 74px" class="row"></div>
<div class="row">
    <div class="jumbotron jumbotron-background">
        <div class="container">
            <div style="margin-top:0.5%" class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div style="margin-left:-2%; width:30%; text-align:center; color:white;" class="col-lg-4">
                        <h3 style="font-size:24px !important; text-decoration: underline;">Automate</h3>

                        <p style="margin-top:8%; text-align: justify; font-size:18px !important;">Replace handwritten forms of
                            the
                            construction
                            process with a single platform and have repetitive info you write daily be filled automatically for
                            you.</p>
                        <a style="font-size:14px !important; text-decoration: underline;" href="">Learn more</a>
                    </div>
                    <div style="margin-left:4%; text-align:center; color:white;" class="col-lg-4">
                        <h3 style="font-size:24px !important; text-decoration: underline;">Collaborate</h3>

                        <p style="margin-top:8%; text-align: justify; font-size:18px !important;">Find the latest updates quickly,
                            keep project
                            teams on track, notify the responsible parties easily, without the hassle of scans, attachments and
                            emails.</p>
                        <a style="font-size:14px !important; text-decoration: underline;" href="">Learn more</a>
                    </div>
                    <div style="margin-left:4%; margin-right:-3%; text-align:center; color:white;" class="col-lg-4">
                        <h3 style="font-size:24px !important; text-decoration: underline;">Manage</h3>

                        <p style="margin-top:8%; margin-bottom:14%; text-align: justify; font-size:18px !important;">Use analytics
                            to measure
                            progress, keep up
                            with
                            project milestones and costs, meet the deadlines while avoiding unnecessary rework.</p>
                        <a style="font-size:14px !important; text-decoration: underline;" href="">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="row">
            <div style="width:48%" class="col-lg-5">
                <div class="row" style="margin-bottom: 3%">
                    <div style="font-size:155% !important" class="col-lg-offset-5 col-lg-7">
                        <b>Daily Report</b>
                    </div>
                </div>
                <div class="row">
                    <div style="margin-right:-4%" class="col-lg-3">
                        <img style="margin-top:5%; width:64%" src="/assets/images/2.png" />
                    </div>
                    <div style="font-size:116% !important" class="col-lg-9">
                        <div style="color:#9e9e9e; text-align:justify;" class="row">
                            <p>Inspecting issues on field, taking notes and
                                photos, later in the office rewriting them in word
                                docs?</p>
                        </div>
                        <div style="text-align:justify" class="row">
                            <p>with CMTech take a photo with your device, write your notes right on
                                the filed and have it automatically linked to the photos and saved on the cloud.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-lg-1"></div>-->
            <div style="width:48%" class="col-lg-5">
                <div class="row" style="margin-bottom: 3%">
                    <div style="font-size:155% !important" class="col-lg-offset-5 col-lg-7">
                        <b>Submittals</b>
                    </div>
                </div>
                <div class="row">
                    <div style="margin-right:-4%" class="col-lg-3">
                        <img style="margin-top:5%; width:64%" src="/assets/images/5.png" />
                    </div>
                    <div style="font-size:116% !important" class="col-lg-9">
                        <div style="color:#9e9e9e; text-align:justify;" class="row">
                            <p>Need a quick response from the Engineer but hve to fill in word dcos, send emails and followup to
                                get a response? and then save all these records manually?</p>
                        </div>
                        <div style="text-align:justify" class="row">
                            <p>With CMTech just ask your question, we take care of archiving, emailing the Engineer, even sending
                                followup notifications.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div style="width:48%" class="col-lg-5">
                <div class="row" style="margin-bottom: 3%">
                    <div style="font-size:155% !important" class="col-lg-offset-5 col-lg-7">
                        <b>Punch Lists</b>
                    </div>
                </div>
                <div class="row">
                    <div style="margin-right:-4%" class="col-lg-3">
                        <img style="margin-top:5%; width:64%" src="/assets/images/4.png" />
                    </div>
                    <div style="font-size:116% !important" class="col-lg-9">
                        <div style="color:#9e9e9e; text-align:justify;" class="row">
                            <p>Digging through hundreds of emails and photos to create the Punchlist?</p>
                        </div>
                        <div style="text-align:justify" class="row">
                            <p>When you take notes and photos with CMTech the Punchlist is ready automatically.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-lg-2"></div>-->
            <div style="width:48%" class="col-lg-5">
                <div class="row" style="margin-bottom: 3%">
                    <div style="font-size:155% !important" class="col-lg-offset-5 col-lg-7">
                        <b>And even more...</b>
                    </div>
                </div>
                <div class="row">
                    <div style="margin-right:-4%" class="col-lg-3">
                        <img style="margin-top:5%; width:64%" src="/assets/images/3.png" />
                    </div>
                    <div style="font-size:116% !important" class="col-lg-9">
                        <div style="color:#9e9e9e; text-align:justify;" class="row">
                            <p>CMTech is not an other plan viewer, it takes care of ALL of you CM tasks.</p>
                        </div>
                        <div style="text-align:justify" class="row">
                            <p>Our sevices include: Daily reports, Submittals, Transmittals, Change Orders, RFIs, Punchlists,
                                Meeting Agendas, Project Directory and Pay Reqs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>
<br />
<br />

<div class="row">
    <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{ slide.image }}" style="margin:auto;">

            <!--<div style="font-size:150% !important; margin-bottom:20%;" class="carousel-caption">-->
            <!--<h4>{{ slide.text }}</h4>-->
            <!--</div>-->
        </slide>
    </carousel>
</div>
<br />

<div class="row">
    <div class="col-lg-offset-1 col-lg-10">
        <p style="text-align:center; font-weight:bold; font-size:175% !important; margin-bottom: -6px;">
            Avoid having to use multiple tools for communication and sharing docs.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-offset-3 col-lg-9">
            <span style="text-align:center; font-weight:bold; font-size:175% !important;">
                You can have them all together on CMTech
            </span>
        <!--<span style="font-family: 'Eras Bold ITC', sans-serif; font-size: 230% !important;">CM</span>
        <span style="font-family:-->
        <!--'Eras Light ITC', sans-serif; font-size: 230% !important;">Tech</span>.-->
    </div>
</div>
<br />
</div>

